.ui--field---shadow {
  box-shadow: 0 1px 2px $black-;
}

.ui--field {
  min-height: 72px;
  padding-bottom: 12px;
  position: relative;
  transition: all 100ms ease-out;

  &.top { margin-top: 12px; }
  &.bottom { margin-bottom: 12px; }

  header {
    padding-bottom: 4px;
  }

  label {
    color: $color-text;
    font-size: $font-size / 1.5;
  }

  main {
    border-radius: $border-radius;
    background: $color-field;
    padding: 0 12px;
    display: flex;
    align-items: center;
  }

  &.active main {
    @extend .ui--field---shadow;
    border-color: $color-text;
  }

  main .icon {
    padding-right: 12px;
    color: $color-card;
  }

  &.active main .icon {
    color: $color-active;
  }

  input {
    background: none;
    color: $color-text;
    font-size: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    flex: 1;
    padding: 12px 0;
    font-family: "Operator Mono", monospace;
  }

  input:focus {
    outline: none;
  }

  @placeholder {
    color: $color-icon;
    opacity: 0.5;
  }
}

.ui--field--select {
  @extend .ui--field;

  main {
    position: relative;
  }

  &.active main {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.active main::before {
    background: $color-card;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .dropdown {
    @extend .ui--field---shadow;
    background: $color-field;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 100;
    overflow: scroll;
    max-height: 144px;
  }

  .dropdown li {
    @include hoverable;
    @include dark-hover(background, $color-field);
    list-style-type: none;
    padding: 12px;
  }
}

.ui--field--token {
  @extend .ui--field--select;

  main {
    display: flex;
  }

  main > form {
    flex: 1;
  }

  .token-list {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    overflow: scroll;
  }

  .token {
    padding: 4px 6px;
    border: 1px solid $color-text;
    margin: 6px 6px 6px 0;
    font-size: 12px;
    border-radius: $border-radius;
    transition: all 200ms ease-out;
  }

  .token:hover {
    background: rgba($red, 0.2);
    border-color: $red;
    color: $red;
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.95);
  }

  .token.destroy {
    opacity: 0;
    transform: scale(0.5);
  }
}
