.ui--field {
  height: 72px;
  padding-bottom: 12px;
  position: relative;
  transition: all 100ms ease-out;

  &.top { margin-top: 12px; }
  &.bottom { margin-bottom: 12px; }

  header {
    padding-bottom: 4px;
  }

  label {
    color: $color-text;
    font-size: $font-size / 1.5;
  }

  main {
    border-radius: $border-radius;
    background: $color-field;
    padding: 0 12px;
    display: flex;
    align-items: center;
  }

  &.activated main {
    border-color: $color-text;
  }

  main .icon {
    padding-right: 12px;
    color: $color-card;
  }

  input {
    background: none;
    color: $color-text;
    font-size: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
    border: none;
    flex: 1;
    padding: 12px 0;
  }

  input:focus {
    outline: none;
  }
}
