.g--container {
  $padding: 12px;

  background: $black---;
  box-shadow: 0 2px 8px rgba($black, 0.33);
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  >header {
    background: $black--;
    padding: $padding;
    color: $frost---;
    box-shadow: 0 1px 1px $black-;
  }

  >main {
    padding: $padding * 2 $padding;
  }

  >footer {
    @include flex-center;
    padding: 0 12px 12px;
  }
}

.g--input {
  $accent-color: $frost;

  border-bottom: 1px solid $accent-color;
  position: relative;
  height: 24px;
  margin: 18px 0;

  &.top { margin-top: 0 }
  &.bottom { margin-bottom: 0 }

  >label {
    position: absolute;
    color: rgba($accent-color, 0.6);
  }

  >input {
    margin: 0;
    padding: 0;
  }

  >input[type="text"] {
    background: none;
    border: none;
    width: 100%;
  }

  >input[type="password"] {
    background: none;
    border: none;
    width: 100%;
  }
}

.g--button {
  @include dark-hover(background, $frost---);
  @include hoverable;
  border-radius: 4px;
  border: none;
  color: $black--;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 18px;
}
