.g--container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  background: $color-card;
  box-shadow: 0 2px 8px rgba($black, 0.33);
  border-radius: 4px;

  a {
    color: $color-icon;
  }

  >header, .g--container--header {
    padding: 24px 0 0px;
    font-size: 22px;
    text-align: center;
    color: $color-icon;
  }

  >main, .g--container--main {
    padding: 24px;
  }

  >footer, .g--container--footer {
    @include flex-center;
    padding: 0 24px 24px;
    flex-direction: column;
  }
}

.g--input {
  $accent-color: $color-field;

  border-bottom: 1px solid $accent-color;
  position: relative;
  height: 24px;
  margin: 24px 0;

  &.top { margin-top: 12px; }
  &.bottom { margin-bottom: 12px; }

  >label {
    position: absolute;
    color: rgba($accent-color, 0.6);
  }

  >input {
    margin: 0;
    padding: 0;
  }

  >input[type="text"] {
    background: none;
    border: none;
    width: 100%;
  }

  >input[type="password"] {
    background: none;
    border: none;
    width: 100%;
  }
}

.g--button {
  @include dark-hover(background, $color-icon);
  @include hoverable;
  display: block;
  border-radius: 4px;
  border: none;
  color: $black--;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 18px;
  margin-bottom: 12px;
}

.g--button-full {
  @extend .g--button;
  width: 100%;
}
