.search--index {

}

.search--index--source,
.search--index--translation {
  display: flex;

  input {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.search--index--language-dropdown {
  background: $frost;
  color: $white;
  font-family: monospace;
  border: none;
  margin: 0;
  font-size: 16px;
  text-align: center;
  width: 96px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
