<aside class="adder--options-left">
  <!-- translation -->
  <i class="far fa-random"></i>
  <!-- literal -->
  <i class="far fa-exchange"></i>
  <!-- translit -->
  <i class="far fa-repeat"></i>
</aside>
