<aside class="adder--options-right">
  <!-- card -->
  <i class="far fa-lightbulb" phx-click="change_right" phx-value-partial="_card.html"></i>
  <!-- entry -->
  <i class="far fa-money-check-edit" phx-click="change_right" phx-value-partial="_entry.html"></i>
  <!-- info -->
  <i class="far fa-link" phx-click="change_right" phx-value-partial="_links.html"></i>
</aside>
