<nav class="adder--select">
  <span>Add Card <i class="fal fa-long-arrow-right"></i></span>
  <span>Add Entry <i class="fal fa-long-arrow-right"></i></span>
  <span>See Links <i class="fal fa-long-arrow-right"></i></span>
</nav>
