/* This file is for your main application css. */

body, html, h1, h2, h3, h4, h5, h6, p, header, button {
  // font-family: "Avenir Next", sans-serif;
  font-family: "Operator Mono", monospace;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
}

@mixin break() {
  @media screen and (min-width: 768px) { @content; }
}

@mixin flex-center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin flex-column() {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@mixin dark-hover($property, $value, $percent: 10%) {
  #{$property}: $value;

  &:hover {
    #{$property}: darken($value, $percent);
  }
}

@mixin light-hover($property, $value, $percent: 10%) {
  #{$property}: $value;

  &:hover {
    #{$property}: lighten($value, $percent);
  }
}

@mixin hoverable() {
  &:hover {
    cursor: pointer;
  }
}

@mixin hover($property, $value) {
  &:hover {
    #{$property}: $value;
  }
}

@mixin invert-hover($property, $no-hover, $hover) {
  #{$property}: $no-hover;

  &:hover {
    #{$property}: $hover;
  }
}

$flag-icon-css-path: "../node_modules/flag-icon-css/flags";
@import "~flag-icon-css/sass/flag-icon.scss";

@import "fonts";
@import "colors";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@import "adder/adder";
@import "layout/app";
@import "layout/live";
@import "library/index";
@import "search/index";
@import "srs/flashcards";
@import "ui/fields";
@import "ui/general";
@import "ui/inputs";
@import "ui/navigation";
@import "ui/search";
