$white: #fff;
$white-: #F8F9FB;
$white--: #ECEFF4;
$white---: #E5E9F0;
$white----: #D8DEE9;

$black: #000;
$black-: #242933;
$black--: #2E3440;
$black---: #3B4252;
$black----: #434C5E;
$black-----: #4C566A;

$frost: #5E81AC;
$frost-: #81A1C1;
$frost--: #88C0D0;
$frost---: #8FBCBB;

$red: #BF616A;
$orange: #D08770;
$yellow: #EBCB8B;
$green: #A3BE8C;
$purple: #B48EAD;


$color-background: $black-;
$color-card: $black--;
$color-header: $black---;
$color-field: $frost;
$color-logo: $frost-;
$color-icon: $frost---;
$color-text: $white----;
