@mixin break() {
  @media screen and (min-width: 768px) { @content; }
}

@mixin flex-center() {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin flex-column() {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@mixin dark-hover($property, $value, $percent: 10%) {
  #{$property}: $value;

  &:hover {
    #{$property}: darken($value, $percent);
  }
}

@mixin light-hover($property, $value, $percent: 10%) {
  #{$property}: $value;

  &:hover {
    #{$property}: lighten($value, $percent);
  }
}

@mixin hoverable() {
  &:hover {
    cursor: pointer;
  }
}

@mixin hover($property, $value) {
  &:hover {
    #{$property}: $value;
  }
}

@mixin invert-hover($property, $no-hover, $hover) {
  #{$property}: $no-hover;

  &:hover {
    #{$property}: $hover;
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder    { @content }
  :-moz-placeholder              { @content }
  ::-moz-placeholder             { @content }
  :-ms-input-placeholder         { @content }
  ::-ms-input-placeholder        { @content }
  ::placeholder                  { @content }
}
