html, body, h1, h2, h3, h4, h5, h6, p, ul, div, span {
  // font-family: "Avenir Next", sans-serif;
  font-family: "Operator Mono", monospace;
  margin: 0;
  padding: 0;
  color: $color-text;
}

button {
  margin: 0;
}
