$answer-size: 48px;
$answer-color: $black----;

section.flashcards--index {
  .card {
    background-color: $white;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 3px 6px -2px $black----;
  }
}

aside.flashcards--answers {
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .score-container-blackout {
    order: 2;
  }

  .score-container {
    order: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    @include break {
      order: 3;
      flex: 1;
      width: auto;
      justify-content: center;
    }
  }

  .score-container-more {
    order: 4;
  }

  .score-primary {
    display: flex;
    align-items: center;
    height: $answer-size;
    border-radius: $answer-size / 2;
    box-sizing: border-box;
    padding: 12px;
  }

  .score {
    padding: 0 12px;
    font-size: $answer-size * 0.4;
    color: $answer-color;
    margin: 12px 0;
  }

  .score-2, .score-4 {
    margin: 12px;
    align-items: center;
    background: $answer-color;
    border-radius: $answer-size / 5;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-size: $answer-size * 0.5;
    height: $answer-size;
    justify-content: center;
    width: $answer-size * 1.5;
  }

  .score-2 {
    background-color: $red;
  }

  .score-4 {
    background-color: $green;
  }
}
