<h1>Show Phrase</h1>

<ul>

  <li>
    <strong>Source:</strong>
    <%= @phrase.source %>
  </li>

  <li>
    <strong>Translation</strong>
    <%= @phrase.translation %>
  </li>

  <li>
    <strong>Language:</strong>
    <%= @phrase.lang %>
  </li>
</ul>

<span><%= link "Edit", to: Routes.phrase_path(@socket, :edit, @phrase) %></span>
<span><%= link "Back", to: Routes.phrase_path(@socket, :index) %></span>
