section.layout--live {
  @include flex-column;
  background-color: $black-;
  min-height: 100vh;

  >main {
    @include flex-column;
    box-sizing: border-box;
    padding: 24px;
  }

  >main >footer {
    text-align: center;
    padding: 36px;
  }
}
