section.layout--live {
  @include flex-column;
  background-color: $black-;
  min-height: 100vh;

  >main {
    @include flex-column;
    box-sizing: border-box;
    padding: 24px;
  }

  >main >footer {
    text-align: center;
    padding: 36px;
  }

  >main >aside >.alert,
  >main >footer >.alert {
    border-radius: $border-radius;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto 24px;
    max-width: $max-width;
    padding: 12px;
    text-align: center;
    width: 100%;
  }

  >main >aside >.alert-info {
    border-color: $green;
    color: $green;
    background-color: rgba($green, 0.25);
  }

  >main >aside >.alert-error {
    border-color: $red;
    color: $red;
    background-color: rgba($red, 0.25);
  }

  >main >footer >.alert {
    border-color: $black----;
    color: $black----;
    background-color: rgba($black----, 0.25);
    margin-top: 24px;
  }
}
