<main class="flashcards--finished">
  <i class="fad fa-dragon"></i>
  <h2>Congratulations!</h2>
  <p>You've conquered all of your reviews due today. You're a memory champ!</p>
  <p>Enjoy the rest of the day off, or come back once you've added new phrases</p>
  <div class="spacer" />
</main>
<aside class="flashcards--finished" />
