<h1>Danger Zone</h1>

<hr />

<h2>Languages</h2>

<%= for l <- @languages do %>
  <%= l.code %>: <%= l.name %>
<% end %>

<%= f = form_for @language_changeset, "#", [phx_submit: :create_language] %>
  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :code %>
  <%= text_input f, :code %>
  <%= error_tag f, :code %>

  <%= submit "Save" %>
</form>
